html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
}

h1 {
	text-align: center;
}

.page {
	position: absolute;
	left: 100%;
	transform: translate(-50%, 0);
	transition: left 0.5s ease;
}

.left-page {
	background-color: green;
	left: 20%;
}

.center-page {
	background-color: green;
	left: 50%;
}

.right-page {
	background-color: green;
	left: 80%;
}

.offscreen-page-left {
	left: -100%;
}

.offscreen-page-right {
	left: 200%;
}

.offscreen-page {
	display: none;	
}
