html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
}

h1 {
	text-align: center;
}

.default-main {
	background-color: red;
	position: relative;
	left: 0;
}

.new-main {
	background-color: green;
	left: -150%;
}

.page {
/*	float: left;*/
/*	display: inline-block;*/
	position: absolute;
/*	position: relative;*/
	transition: left 0.5s ease;
	left: 100%;
	transform: translate(-50%, 0);
}

.left-page {
	background-color: green;
	left: 20%;
}

.center-page {
	background-color: green;
	left: 50%;
}

.right-page {
	background-color: green;
	left: 80%;
}

.offscreen-page-left {
	left: -100%;
}

.offscreen-page-right {
	left: 200%;
}

.offscreen-page {
	display: none;	
}
